# macOS
.DS_Store
**/.DS_Store

# Xcode
Axel.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate

# Build artifacts
build/
build-test/
dist-test/
DerivedData/
*.dmg
*.dmg.zip

# Sparkle
sparkle-tools/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
Axel.xcodeproj/xcuserdata
